@import "./partials/variables";
@import "./partials/reset";


@import "./partials/body";
@import "./partials/header";
@import "./partials/main";
@import "./partials/footer";

@import "./partials/pantallasGrandes";
@import "./partials/tablet";
@import "./partials/mobile";