 * {
     margin: 0;
     padding: 0px;
     box-sizing: border-box;
 }


 body {
     background-color: rgb(241, 238, 238);
 }

 .encabezado {
     background-color: rgb(24, 23, 23);
     color: rgb(255, 255, 255);
     text-align: center;
     font-size: 200%;
     /* margin-bottom: 0; */
     /* margin-top: 0px; */
     /* padding-top: 50px; */
     /* padding-bottom: 0px; */
     /* margin-right: 0px; */
     /* padding-right: 0px; */
      position: sticky; 
      top: 0; 
     border-bottom: solid 6px rgb(255, 255, 255);
 }

 .encabezadoDos {
     display: flex;
     /* flex-direction: row; */
     justify-content: center;
     align-items: center;
 }

 .logoSys {
     width: 250px;
     height: 150px;
     padding-right: 50px;
 }


 /*h1{
    background-color: rgb(107, 107, 107);
    color: black;
    text-align: center;
    font-size: 300%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }*/
 .menu {
     color: white;
     text-decoration: none;
     background-color: rgb(24, 23, 23);
 }

 .imagenPortada {
     width: 1000px;
     height: 385px;
     background-position: center center;
     display: flex;
     margin: 0%;
     padding: 0%;
 }

 h3 {
     color: black;
     text-align: center;
     font-size: 200%;
     border: solid 3px black;
     padding-top: 5px;
     padding-bottom: 5px;
 }

 .naranja {
     background-color: rgb(241, 162, 13);
     margin-top: 50px;
 }

 .productos {
     color: black;
     text-align: center;
     font-size: 200%;
     border: solid 3px black;
     margin-top: 100px;
     margin-bottom: 100px;
     margin-left: 300px;
     margin-right: 300px;
     padding-top: 5px;
     padding-bottom: 5px;
     box-shadow: 1px 1px 5px black;
 }

 .productosDos {
     text-decoration: none;
     color: black;
 }
 .productos:hover {
     background-color: rgb(112, 111, 111);
 }

 .insta {
     color: black;
     text-align: center;
     background-color: white;
     margin-top: 50px;
     font-size: 300%;
     margin-bottom: 0%;
     padding-top: 30px;
 }
 /*no funciona*/
 /*.logoInstagram {
     margin: 50px;
     height: 50px;
 }*/

 .instaDos {
     color: black;
     text-align: center;
     background-color: white;
     font-size: 300%;
     margin-top: 0%;
     margin-bottom: 0px;
     padding-bottom: 30px;
     text-decoration: none;
 }

 .instaTres {
     text-decoration: none;
     color: black;
 }

 .imagenes {
     width: 300px;
     height: 300px;
     margin-top: 10px;
     margin-left: 80px;
     margin-right: 50px;
     margin-bottom: 120px;
     border: solid 2px rgb(192, 190, 190);
     border-radius: 10px;
     z-index: 10;
 }

 /*.cards {
     padding: 60px;
     display: flex;
     gap: 50px;
     margin-left: 60px;
     flex: 1;
     flex-direction: row;
 }*/
 .titulosProductos{
    margin-top: 30px;
    font-size: 40px;
    margin-left: 30px;
}

 .cards {
     padding: 60px;
     display: grid;
     gap: 50px;
     grid-template-columns: repeat(3, 1fr) ;
 }

 .card {
     width: 380px;           /*modificado. antes width 500px*/
     background-color: rgb(107, 107, 107);
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
     cursor: default;
     transition: all 400ms ease;
 }

 .cardProductos {
     width: 300px;
     height: 600px;
     background-color: rgb(107, 107, 107);
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
     cursor: default;
     transition: all 400ms ease;
 }

 .card:hover {
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
     transform: translate(-3%);
 }

 .cardProductos:hover {
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
     transform: translate(-3%);
 }

 .cardImagen {
     height: 250px;
     width: 100%;
 }

 /*.cardDiv {
     padding: 30px;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }*/
 .cardDiv {
     padding: 30px;
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 20px;
 }

 .cardTitulo {
     color: black;
     text-align: center;
     font-size: 30px;
 }

 .precio {
     color: black;
     text-align: center;
     font-size: 20px;
 }

 .footer {
     background-color: rgb(107, 107, 107);
     width: 100%;
     margin: 0;
     margin-top: 100px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 50px;
     padding: 45px 0px;
 }

 .footerDos {
     text-decoration: none;
     color: white;
     display: block;
     margin-left: 30px;
     background-color: rgb(107, 107, 107);
 }

 .footer h2 {
     color: white;
     margin-bottom: 25px;
     font-size: 20px;
 }

 .footer p {
     color: #efefef;
 }

 .footer .redes a {
     display: inline-block;
     text-decoration: none;
     width: 45px;
     height: 45px;
     line-height: 45px;
     color: white;
     margin-right: 10px;
     background-color: rgb(100, 98, 98);
     text-align: center;
 }

 .footer .derechosAutor {
     width: 100%;
     text-align: center;
     color: white;
     background-color: rgb(100, 98, 98);
 }

 ul {
     list-style-type: none;
 }

 ul li {
     margin-left: 100px;
     padding-left: 0px;
     padding-right: 40px;
     padding-bottom: 0px;
     display: inline;
     font-size: 20px;
     color: white;
     margin-top: 0px;
 }

 .textoMayorista {
     width: 650px;
     height: 150px;
 }
 .informacionPrincipal {
     width: 250px;
     height: 250px;
     margin-top: 100px;
     margin-left: 130px;
     margin-right: 50px;
     margin-bottom: 100px;
     border: solid 2px rgb(143, 142, 142);
     border-radius: 200px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     /*z-index: 10;*/
 }
 .informacionPrincipalContacto {
    width: 250px;
    height: 250px;
    margin-top: 100px;
    margin-left: 130px;
    margin-right: 50px;
    margin-bottom: 100px;
    border: solid 2px rgb(143, 142, 142);
    border-radius: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /*z-index: 10;*/
}
 .container_boton{
    position: fixed;
     width: 55px;
     height: 55px;
     bottom: 50px;
     right: 50px;
     transition: ease 0.3s;
     z-index: 999px;
 }
 .container_boton:hover{
    transform: scale(1.1);
 }


 .mayorista {
     display: inline-flex;
     justify-content: center;
     align-items: center;
 }

 .imagenMayorista {
     width: 400px;
     height: 400px;
     margin-top: 10px;
     margin-left: 80px;
     margin-right: 50px;
     margin-bottom: 120px;
     border: solid 2px rgb(192, 190, 190);
     border-radius: 10px;
     z-index: 10;
 }

 .textoContacto {
     margin-top: 50px;
     text-align: center;
 }



 /*media pantallas grandes*/
 @media screen and (max-width:1200px){
    .encabezado {
        width: 1400px;
    }
    .imagenPortada {
        width: 1000px;
        margin-right: 0px;
        padding-right: 0px;
    }
    .naranja {
        width: 1400px;
    }
    .cards {
        width: 1300px;
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        margin-left: 40px;
        padding-bottom: 150px;
    }
    .productos {
        color: black;
        text-align: center;
        font-size: 300%;
        border: solid 3px black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 200px;
        margin-right: 200px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 60px;
        display: flex;
        align-items: center;
        width: 1000px;
       }
       .insta {
        width: 1400px;
    }
    .instaDos {
        width: 1400px;
    }
    .informacionPrincipalGeneral {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       }
       .textoContacto {
        font-size: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 200px;
    }
    .footer {
        width: 1400px;
    }
    .footer a {
        font-size: 35px;
    }
 }

/*media tablet*/

 @media screen and (max-width:1024px) {
    main {
        width: 1350px;
    }
    .encabezado {
        width: 1400px;
        z-index: 9;
    }
    .naranja {
        width: 1400px;
    }
    .cards {
        width: 1300px;
       /* margin-left: 0px;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
       /* grid-template-rows: repeat(3, 3fr) ;*/
        margin-left: 100px;
        padding-bottom: 150px;
    }
    .cardProductos {
        border-radius: 25px;
    }
    .productos {
     color: black;
     text-align: center;
     font-size: 300%;
     border: solid 3px black;
     margin-top: 100px;
     margin-bottom: 100px;
     margin-left: 200px;
     margin-right: 200px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 60px;
     display: flex;
     align-items: center;

    }
    .container_boton{
         width: 200px;
         height: 100px;
         z-index: 10;
     }
    .boton_whatsapp{
         width: 200px;
         height: 200px;
         z-index: 10;
     }

    .insta {
        width: 1400px;
    }
    .instaDos {
        width: 1400px;
    }
    .informacionPrincipalGeneral {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
    }
    .informacionPrincipal {
        z-index: 1;
        margin-bottom: 500px;
       }
       .informacionPrincipalContacto {
        margin-bottom: 1000px;
       }
    .descripcionMayorista {
     font-size: 30px;
     margin-bottom: 100px;
    }
    .imagenMayorista {
        margin-top: 50px;
        
    }
    .mayorista {
        margin-bottom: 500px;
       }
    .textoContacto {
        font-size: 40px;
        margin-left: 70;
    }
    .titulosProductos{
        margin-top: 30px;
        font-size: 60px;
        margin-left: 30px;
    }
    .footer {
        width: 1400px;
    }
    .footer h2 {
        font-size: 50px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .footer  p{
        font-size: 25px;
    }
    .footer a {
        font-size: 35px;
    }
    .footer small {
        font-size: 20px;
    }
 }


 /*media mobile*/
 @media screen and (max-width:480px) {
    main {
        width: 1350px;
    }
    .encabezado {
        width: 1400px;
        z-index: 9;
    }
    .naranja {
        width: 1400px;
    }
    .cards {
        width: 1300px;
       /* margin-left: 0px;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
       /* grid-template-rows: repeat(3, 3fr) ;*/
        margin-left: 100px;
        padding-bottom: 150px;
    }
    .cardProductos {
        border-radius: 25px;
    }
    .productos {
     color: black;
     text-align: center;
     font-size: 300%;
     border: solid 3px black;
     margin-top: 100px;
     margin-bottom: 100px;
     margin-left: 200px;
     margin-right: 200px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 60px;
     display: flex;
     align-items: center;

    }
    .container_boton{
         width: 200px;
         height: 100px;
         z-index: 10;
     }
    .boton_whatsapp{
         width: 200px;
         height: 200px;
         z-index: 10;
     }

    .insta {
        width: 1400px;
    }
    .instaDos {
        width: 1400px;
    }
    .informacionPrincipalGeneral {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
    }
    .informacionPrincipalContacto {
     margin-bottom: 1200px;
    }
    .descripcionMayorista {
     font-size: 30px;
     margin-bottom: 100px;
    }
    .imagenMayorista {
        margin-top: 50px;
        
    }
    .mayorista {
        margin-bottom: 1100px;
       }
    .textoContacto {
        font-size: 40px;
        text-align: center;
    }
    .titulosProductos{
        margin-top: 30px;
        font-size: 60px;
        margin-left: 30px;
    }
    .footer {
        width: 1400px;
    }
    .footer h2 {
        font-size: 50px;
    }
    .footer  p{
        font-size: 25px;
    }
    .footer a {
        font-size: 35px;
    }
    .footer small {
        font-size: 20px;
    }
 }