/*vista tablet*/

@media screen and (max-width:1024px) {
    main {
        width: 1400px;
    }
    .encabezado {
        width: 1500px;
        z-index: 9;
    }
    .naranja {
        width: 1500px;
    }
    .portadaNueva {
        width: 1500px;
    }
    .insta {
        width: 1500px;
    }
    .instaDos {
        width: 1500px;
    }
    .card {
        margin-left: 50px;
    }
    .productos {
        margin-left: 300px;
        margin-right: 150px;
    }
    .container_boton{
         width: 200px;
         height: 100px;
         z-index: 10;
     }
    .boton_whatsapp{
         width: 200px;
         height: 200px;
         z-index: 10;
     }
    .informacionPrincipalGeneral {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
    }
    .informacionPrincipal {
        z-index: 1;
        margin-bottom: 500px;
       }
    .textoContacto {
        font-size: 40px;
        margin-left: 70;
    }
    .footer {
        width: 1500px;

        .h2 {
            font-size: 50px;
            margin-left: 8px;
            margin-right: 8px;
        }
        .p{
            font-size: 25px;
        }
        .a {
            font-size: 35px;
        }
        .small {
            font-size: 20px;
        }
    }
  }